[alias]
  ll = log --graph --pretty=format:'%C(bold cyan)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  stt = status
  co = checkout
  branches = branch --all
  # use fzf-tmux to checkout branch or delete branch(es)
  cof = !git_cof.sh
  hmr = !git_hmr.sh
  pur = pull --rebase
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[commit]
	template = ~/.git_hfactory_template
[user]
	name = egovelox
	email = egovelox@protonmail.com
[pull]
	rebase = true
